@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@CurrentPage.Name()</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	

	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/RTS.css"/>
</head>
<body>
	
		<header>
			 @Umbraco.RenderMacro("MainMenu")
		</header>

		<main>
			<section id="data" class="container">
				<p><b>@Umbraco.Field("siteTitle", recursive: true)</b><br/>
					<b>SEO:</b> <br/>
						<i>Keywords:</i>
							@if(string.IsNullOrEmpty(@CurrentPage.MetaKeywords)){
								@:None added, 
							}
							else
							{
							  @Umbraco.Field("metaKeywords") @:, 
							}

						 <i>Meta Description:</i>						
							@if(string.IsNullOrEmpty(@CurrentPage.MetaDescription)){
								@:None added
							}
							else
							{
							  @Umbraco.Field("metaDescription")
							}
				</p>
					<hr/>
			</section>
			<section class="container">
				@RenderBody()
			</section>
		</main>
		
		<br/>
		
		<footer class="footer">
			<div class="container">
			<span class="text-muted"><i>@Umbraco.Field("footer", recursive: true)</i></span>
		  </div>
		</footer>
	
	
		<script src="/Scripts/jquery-3.1.1.min.js"></script>
		<script src="/Scripts/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {
				$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
			});
		</script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>